<div id="bundle-info" class="">
    <div class="bundle-left-container">
        <p id="bundle-category">
            <a href="http://chartjs.devexpress.com/Demos/VizGallery/#chart/chartslineandpointseriesline" target="_blank">Powered By - DevExpress ChartJS</a>
        </p>
        <h1 id="bundle-title">Line Chart</h1>
        <h2 id="bundle-description"></h2>
    </div>
    <div class="bundle-middle-container">&nbsp;</div>
    <div class="bundle-right-container">
        <button ng-click="backToProjects()" class="btn btn-xlarge btn-warning pull-right">Back To Projects</button>
    </div>
</div>

<div id="bundle-clips" class="wrapper-element">
    <div dx-chart="chartOptions" style="max-width:980px; height: 450px; text-align: center"></div>
</div>